.logo {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  color: white;
  user-select: none;
  cursor: pointer;
}
.logos{
  color: white;
  user-select: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.logos-text{
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  color: white;
  user-select: none;
  cursor: pointer;
  margin-left: 0.5rem;
}